{# Pour écrire un commentaire #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {# Responsive block #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# Le bloque title est hérité par défaut #}
        <title>{% block title %}CrudOO{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block haut %}<h1>Mon titre</h1>{% endblock %}
        {% block milieu %}{% endblock %}
        {% block bas %}Le footer par défaut{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>