<ul class="navbar-nav ml-auto">
    <li class="nav-item active">
        <a class="nav-link" href="..">Accueil
          
<ul class="navbar-nav ml-auto">
   
    {% for item in lemenu  %}
        <li class="nav-item">
            <a class="nav-link" href="?idthesection={{ item.idthesection }}">{{ item.thetitle }}</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="#">Pas encore d'éléments dans le menu</a>
        </li>
    {% endfor %}
    

    