.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
}

.wrapper  {
    padding: 100px;
    flex: 1 100%;
}

.header {
    background: white;
}

.footer {
    background: white;
    margin-right: 1000px;
}

.main {
    text-align: left;
    background: white;
}

.aside-1 {
    background: white;
}

.aside-2 {
    background: white;
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; }
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
}

body {
    padding: 2em;
}