{# on étend le template depuis base.html.twig, qui est donc son parent #}
{% extends "template1.html.twig" %}

{# on veut surcharger le title, on utilise le bloc, on récupère le contenu du parent {{ parent() }} et on rajoute notre texte #}
{% block title %}{{ parent() }} | Admin | Ajouter un utilisateur {% endblock %}

{% block menuhaut %}
{% include "hautEtMenu.html.twig" %}
{% endblock %}

{% block milieu %}
    <!-- Page Content -->
<main role="main" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Administration du CF2m</h1>
                <p class="lead">Admin | Ajouter un utilisateur</p>
            </div>
            <div class="col-lg-6 text-left">
                {# Affichage du formulaire #}
                <form action="" method="post" name="createlutilisateur">
                    <input name="lenomutilisateur" type="text" placeholder="nom utilisateur" required><br>
                    <input name="lenom" type="text" placeholder="nom" required><br>
                    <input name="leprenom" type="text" placeholder="Prènom" required><br>
                    <input name="lemail" type="text" placeholder="Titre de la section" required><br>

                    <input type="submit" value="Envoyer">
                </form>
                <h3>{{ error }}</h3>
            </div>
        </div>
</main>

{% endblock %}

{% block bas %}
{% include "footer.html.twig" %}
{% endblock %}